<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result | Nidan</title>
    <link rel="stylesheet" href="../static/bg.css">
</head>
<body>
    <div class="container">
        <div class="result">
            
        </div>

        <div class="tips">
            <h3>No Diabetes</h3>
            <br>
            <p>Even though you show no signs of suffering from diabetes you should keep doing the following tasks in succession, in order to improve your lifestyle.</p>

            <br>

            <ul>
                <li><h4>Aerobic exercise</h4> Aim for 30 minutes or more of moderate to vigorous aerobic exercise — such as brisk walking, swimming, biking or running</li>

                <li><h4>Resistance exercise</h4> Resistance exercise — at least 2 to 3 times a week — increases your strength, balance and ability to maintain an active life. Resistance training includes weightlifting, yoga and calisthenics.
                </li>

                <li><h4>Limited inactivity</h4> Breaking up long bouts of inactivity, such as sitting at the computer, can help control blood sugar levels. Take a few minutes to stand, walk around or do some light activity every 30 minutes.
                </li>

                <li>
                    Avoid foods that are "bad carbohydrates" — high in sugar with little fiber or nutrients: white bread and pastries, pasta from white flour, fruit juices, and processed foods with sugar or high-fructose corn syrup.
                </li>

                <li>Saturated fats, the "bad fats," are found in dairy products and meats. These should be a small part of your diet. You can limit saturated fats by eating low-fat dairy products and lean chicken and pork.</li>
            </ul>
        </div>
        
    </div>
</body>
</html>