<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result | Nidan</title>
    <link rel="stylesheet" href="../static/bg.css">
</head>
<body>
    <div class="container">
        <div class="result">
            
        </div>

        <div class="tips">
            <h3>You have Diabetes</h3>
            <br>
            <dl>
                <dt><h4>1.Lose extra weight</h4></dt>
                <dd>
                    Set a weight-loss goal based on your current body weight. Talk to your doctor about reasonable short-term goals and expectations, such as a losing 1 to 2 pounds a week.
                </dd> 
                <br>
                <dt><h4>2. Be more physically active</h4></dt>
                <dd>
                    There are many benefits to regular physical activity. Exercise can help you:
                    <ul>
                        <li>Lose weight</li> 
                       <li>Lower your blood sugar</li> 
                       <li>Boost your sensitivity to insulin — which helps keep your blood sugar within a normal range</li> 
                    </ul>

                </dd>

                <br>

                <dt><h4>3. Eat healthy plant foods</h4></dt>
                <dd>
                    Plants provide vitamins, minerals and carbohydrates in your diet. Carbohydrates include sugars and starches — the energy sources for your body — and fiber. Dietary fiber, also known as roughage or bulk, is the part of plant foods your body can't digest or absorb.
                </dd>

                <br>

                <dt><h4>4. Eat healthy fats</h4></dt>
                <dd>
                    Fatty foods are high in calories and should be eaten in moderation. To help lose and manage weight, your diet should include a variety of foods with unsaturated fats, sometimes called "good fats."
                </dd>

                <dt><h4>5. Skip fad diets and make healthier choices</h4></dt>
                <dd>Many fad diets — such as the glycemic index, paleo or keto diets — may help you lose weight. There is little research, however, about the long-term benefits of these diets or their benefit in preventing diabetes.</dd>
                <dd>Your dietary goal should be to lose weight and then maintain a healthier weight moving forward. Healthy dietary decisions, therefore, need to include a strategy that you can maintain as a lifelong habit. Making healthy decisions that reflect some of your own preferences for food and traditions may be beneficial for you over time.
                </dd>
            </dl>
            
        </div>
        
    </div>
</body>
</html>