<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title> Heart Disease | Nidan</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/Heart_Form_CSS.css">

</head>
<body>

<div class="container">
  <div class="title">Heart Disease</div>
  <form target="_blank" action="#" method="POST" name="mentalhealth">
    <div class="user__details">
      

      <div class="input__box" name="cp">
        <span class="details">Chest Pain</span>
        <div class="select">
          <select name="cp">
              <option>--Select--</option>
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>

      <div class="input__box" name="age">
        <span class="details">Age</span>
        <input type="number" placeholder="Age">
      </div>

      <div class="input__box" name="ca">
        <span class="details">No. of major vessels</span>
        <div class="select">
          <select name="ca">
              <option>--Select--</option>
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>

     

      
      

      <div class="input__box" name="sex">
        <span class="details">Sex</span>
        <input type="number" name="sex" placeholder="0 for female, 1 for male">
      </div> 

      <div class="input__box" name="trestbps">
        <span class="details">Resting_Blood_Pressure</span>
        <input type="number" name="trestbps" placeholder="">
      </div> 

      <div class="input__box" name="chol">
        <span class="details">Cholestoral</span>
        <input type="number" name="chol" placeholder="">
      </div>

      <div class="input__box" name="fbs">
        <span class="details">Fasting_Blood_Sugar</span>
        <input type="number" name="fbs" placeholder="">
      </div>

      <div class="input__box" name="restecg">
        <span class="details">Resting_ECG</span>
        <input type="number" name="restecg" placeholder="">
      </div>

      <div class="input__box" name="thalach">
        <span class="details">Max_Heart_Rate</span>
        <input type="number" placeholder="">
      </div>

      <div class="input__box" name="exang">
        <span class="details">Exercise_induced_angina</span>
        <input type="number" name="exang" placeholder="0 for no, 1 for yes">
      </div>

      <div class="input__box" name="Oldpeak">
        <span class="details">ST_Depression</span>
        <input type="number" name="Oldpeak" placeholder="">
      </div>

      <div class="input__box" name="slope">
        <span class="details">Slope_of_peak_exercise</span>
        <input type="number" name="slope" placeholder="">
      </div>
      
      <div class="input__box" name="thal">
        <span class="details">Thalassemia</span>
        <div class="select">
          <select name="thal">
              <option>--Select--</option>
              <option>3</option>
              <option>6</option>
              <option>7</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>
      
     

      

      

      

    </div>
    
    <div class="button">
    
        <input ; type="submit" value="Diagnose">
    

    </div>
  </form>
</div>

  
</body>
</html>
