<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result | Nidan</title>
    <link rel="stylesheet" href="../static/bg.css">
</head>
<body>
    <div class="container">
        <div class="result">
        </div>

        <div class="tips">
            <h3>Heart Disease</h3>
            
            <p>These are the tips , which we recommend you to follow for a healthy heartier life:-</p>

            <br>

            <dl>
                <dt><h4>1.Eat a healthy, balanced diet</h4></dt>
                <dd>A low-fat, high-fibre diet is recommended, which should include plenty of fresh fruit and vegetables (5 portions a day) and whole grains.
                    You should limit the amount of salt you eat to no more than 6g (0.2oz) a day as too much salt will increase your blood pressure. 6g of salt is about 1 teaspoonful.
                </dd>
                
                <dt><h4>2.Be more physically active</h4></dt>
                <dd>Combining a healthy diet with regular exercise is the best way of maintaining a healthy weight. Having a healthy weight reduces your chances of developing high blood pressure.
                    Regular exercise will make your heart and blood circulatory system more efficient, lower your cholesterol level, and also keep your blood pressure at a healthy level.
                    Exercising regularly reduces your risk of having a heart attack. The heart is a muscle and, like any other muscle, benefits from exercise. A strong heart can pump more blood around your body with less effort.
                </dd>

                <dt><h4>3.Keep to a healthy weight</h4></dt>
                <dd>A GP or practice nurse can tell you what your ideal weight is in relation to your height and build. Alternatively, find out what your body mass index (BMI)</dd>

                <dt><h4>4.Give up smoking</h4></dt>
                If you smoke, giving up will reduce your risk of developing CHD.
                Smoking is a major risk factor for developing atherosclerosis (furring of the arteries). It also causes the majority of cases of coronary thrombosis in people under the age of 50.

                <dt><h4>5.Reduce your alcohol consumption</h4></dt>
                <dd>
                    If you drink, do not exceed the maximum recommended limits.
                    <ul>
                        <li>men and women are advised not to regularly drink more than 14 units a week</li>
                        <li>spread your drinking over 3 days or more if you drink as much as 14 units a week</li>
                    </ul>
                    Always avoid binge drinking, as this increases the risk of a heart attack.

                </dd>

                <dt><h4>Keep your diabetes under control</h4></dt>
                <dd>You have a greater chance of developing CHD if you have diabetes. Being physically active and controlling your weight and blood pressure will help manage your blood sugar level.</dd>

            </dl>


        </div>
        
    </div>
</body>
</html>