<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result | Nidan</title>
    <link rel="stylesheet" href="../static/bg.css">
</head>
<body>
    <div class="container">
        

        <div class="tips">
            <h2>Mentally Stressed</h2>
            <br>
            <br>
            <p>According to our predictions , we come to a conclusion that you show strong signs of going trough stressful phase of your life.
                <br>
            We strongly <b>recommend you to consult a therapist</b> and take a break from your schedule to freshen up your mind
            </p>

            <br>

            <p>We recommend you to follow following tips to help improve your ,lifestyle:
            </p>

            <br>

            <dl>
                <dt><h4>1. Track gratitude and achievement with a journal</h4></dt>
                <dd> Include 3 things you were grateful for and 3 things you were able to accomplish each day.
                </dd>

                <dt><h4>2. Start your day with a cup of coffee</h4></dt>
                <dd>Coff­ee consumption is linked to lower rates of depression. If you can’t drink coff­ee because of the caff­ine, try another good-for-you drink like green tea. 
                </dd>

                <dt><h4>3. Set up a getaway</h4></dt>
                <dd>It could be camping with friends or a trip to the tropics. The act of planning a vacation and having something to look forward to can boost your overall happiness for up to 8 weeks!
                </dd>

                <dt><h4>4. "You don't have to see the whole staircase, just take the first step."</h4></dt>
                <dd> Martin Luther King, Jr. Think of something in your life you want to improve, and figure out what you can do to take a step in the right direction.
                </dd>

                <dt><h4>5. Boost brainpower by treating yourself to a couple pieces of dark chocolate every few days.</h4></dt>
                <dd>The flavonoids, caffeine, and theobromine in chocolate are thought to work together to improve alertness and mental skills.</dd>
            </dl>
        </div>
        
    </div>
</body>
</html>