<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result | Nidan</title>
    <link rel="stylesheet" href="../static/bg.css">
</head>
<body>
    <div class="container">
        <div class="result">
            
        </div>

        <div class="tips">
            <h3>Happyyy</h3>
            <br>
            <p>You are leading a stress free life and we encourage you to live so and help others to live happily</p>

            <br>

            <p>In the mean time You can follow certain activities to ensure a better and healthy mind.</p>

            <ul>
                <li>Listen to Music</li>
                <li>Exercise regularly</li>
                <li>Help Others</li>
                <li>Meditate</li>
            </ul>
        </div>
        
    </div>
</body>
</html>