<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Mental Health | Nidan</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/Mental_CSS.css">

</head>
<body>

<div class="container">
  <div class="title">Mental Health</div>
  <form action="Mental_Form.html" method="POST" name="mentalhealth">
    <div class="user__details">

      <div class="input__box" name="Age">
        <span class="details">Age</span>
        <input type="number" name="Age" placeholder="">
      </div> 
      

      <div class="input__box">
        <span class="details">Gender</span>
        <div class="select">
          <select name="Gender">
              <option>--Select--</option>
              <option>Male</option>
              <option>Female</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>

      <div class="input__box">
        <span class="details">Country</span>
        <div class="select">
          <select name="Country">
              <option>India</option>
              <option>United States</option>
              <option>United Kingdom</option>
              <option>Canada</option>
              <option>Germany</option>
              <option>India</option>
              <option>Netherlands</option>
              <option>Ireland</option>
              <option>Australia</option>
              <option>France</option>
              <option>New Zealand</option>
              <option>Switzerland</option>
              <option>Poland</option>
              <option>Italy</option>
              <option>Sweden</option>
              <option>Belgium</option>
              <option>Brazil</option>
              <option>South Africa</option>
              <option>Israel</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>

      <div class="input__box">
        <span class="details">Self Employed</span>
        <div class="select">
          <select name="self_employed">
              <option>--Select--</option>
              <option>No</option>
              <option>Yes</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>

      <div class="input__box">
        <span class="details">Family History</span>
        <div class="select">
          <select name="family_history">
              <option>--Select--</option>
              <option>No</option>
              <option>Yes</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>

      <div class="input__box">
        <span class="details">Treatment</span>
        <div class="select">
          <select name="treatment">
              <option>--Select--</option>
              <option>Yes</option>
              <option>No</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>

      <div class="input__box">
        <span class="details">Work Interfere</span>
        <div class="select">
          <select name="work_interfere">
              <option>--Select--</option>
              <option>Sometimes</option>
              <option>Never</option>
              <option>Rarely</option>
              <option>Often</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>

      <div class="input__box">
        <span class="details">No. of employees</span>
        <div class="select">
          <select name="no_employees">
              <option>--Select--</option>
              <option>  More then 1000</option>
              <option>500-1000</option>
              <option>100-500 </option>
              <option>26-100 </option>
              <option>6-25 </option>
              <option>1-5  </option>
              
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>

      <div class="input__box">
        <span class="details">Remote Work</span>
        <div class="select">
          <select name="remote_work">
              <option>--Select--</option>
              <option>No</option>
              <option>Yes</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>

      <div class="input__box">
        <span class="details">Tech Company</span>
        <div class="select">
          <select name="tech_company">
              <option>--Select--</option>
              <option>Yes</option>
              <option>No</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>

      <div class="input__box">
        <span class="details">Benefits</span>
        <div class="select">
          <select name="benefits">
              <option>--Select--</option>
              <option>Yes</option>
              <option>Don't Know</option>
              <option>No</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>

      <div class="input__box">
        <span class="details">Care options</span>
        <div class="select">
          <select name="care_options">
              <option>--Select--</option>
              <option>No</option>
              <option>Yes</option>
              <option>Not sure</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>

      <div class="input__box">
        <span class="details">Wellness Program</span>
        <div class="select">
          <select name="wellness_program">
              <option>--Select--</option>
              <option>No</option>
              <option>Yes</option>
              <option>Don't know</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>

      <div class="input__box">
        <span class="details">Seek Help</span>
        <div class="select">
          <select name="seek_help">
              <option>--Select--</option>
              <option>No</option>
              <option> Don't know</option>
              <option>yes</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>

      <div class="input__box">
        <span class="details">Anonymity</span>
        <div class="select" >
          <select name="anonymity">
              <option>--Select--</option>
              <option>Don't know</option>
              <option>Yes</option>
              <option>No</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>

      <div class="input__box">
        <span class="details">Leave</span>
        <div class="select">
          <select name="leave">
              <option>--Select--</option>
              <option>Don't know</option>
              <option>Somewhat easy</option>
              <option>Very easy</option>
              <option>Somewhat difficult</option>
              <option>Very difficult</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>

      <div class="input__box">
        <span class="details">Physical Health Consequence</span>
        <div class="select">
          <select name="phys_health_consequence">
              <option>--Select--</option>
              <option>No</option>
              <option>Maybe</option>
              <option>Yes</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>

      <div class="input__box">
        <span class="details">Coworkers</span>
        <div class="select">
          <select name="coworkers">
              <option>--Select--</option>
              <option>Some of them</option>
              <option>No</option>
              <option>Yes</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>

      <div class="input__box">
        <span class="details">Supervisor</span>
        <div class="select">
          <select name="supervisor">
              <option>--Select--</option>
              <option>Some of them</option>
              <option>No</option>
              <option>Yes</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>

      <div class="input__box">
        <span class="details">Mental Health Interview</span>
        <div class="select">
          <select name="mental_health_interview">
              <option>--Select--</option>
              <option>No</option>
              <option>Maybe</option>
              <option>Yes</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>

      <div class="input__box">
        <span class="details">Physical Health Interview</span>
        <div class="select">
          <select name="phys_health_interview">
              <option>--Select--</option>
              <option>No</option>
              <option>Maybe</option>
              <option>Yes</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>

      <div class="input__box">
        <span class="details">Mental V/s Physical</span>
        <div class="select">
          <select name="mental_vs_physical">
              <option>--Select--</option>
              <option>Don't know</option>
              <option>Yes</option>
              <option>No</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>

      
      <div class="input__box">
        <span class="details">Obs Conequence</span>
        <div class="select">
          <select name="obs_consequence">
              <option>--Select--</option>
              <option>Yes</option>
              <option>No</option>
          </select>
          <div class="select_arrow">
          </div>
      </div>
      </div>
      

      <!-- <div class="input__box">
        <span class="details">Sex</span>
        <input type="number" placeholder="0 for " required min="0" max="1">
      </div> -->

     

      

      

      

    </div>
    
    <div class="button">
    
        <input ; type="submit" value="Diagnose">
    

    </div>
  </form>

  <hr>
  {{data_Mental}}
</div>

  
</body>
</html>
