<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result | Nidan</title>
    <link rel="stylesheet" href="../static/bg.css">
</head>
<body>
    <div class="container">
        <div class="result">
            
        </div>

        <div class="tips">
            <h3>Confused</h3>
            <br>
            <p>According to our analysis, we come to a conclusion that you are somewhat confused in life and you need a direction in life , on which you need to work upon.</p>

            <br>

            <p>You need to analyze your goals and the steps you take and formulate plans accordingly to live a healthy life with healthy mind.</p>

            <br>

            <p>In the mean time it is absolutely necessary to stay in calm.</p>
            <br>

            <p>We advice include any of the following activities in your schedule</p>
            <ul>
                <li>Meditation</li>
                <li>Gymming</li>
                <li>Playing some outdoor sports on weekly basis</li>
            </ul>
        </div>
        
    </div>
</body>
</html>