<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result | Nidan</title>
    <link rel="stylesheet" href="../static/bg.css">
</head>
<body>
    <div class="container">
        <div class="result">
        </div>

        <div class="tips">
            <h3>Stroke</h3>
            <br>
            <p>You show strong signs of suffering from a stroke, we recommend you to consult a doctor as soon as possible.</p>

            <br>
            <p>These are the following tips which we recommend you to follow to reduce the risk of suffering from.</p>

            <dl>
                <dt><h4>1. Understand How the Brain Heals</h4></dt>
                <dd>Did you know that the brain is capable of healing itself after an injury like a stroke? It revolves around the phenomenon of neuroplasticity: the mechanism that your brain uses to rewire itself and create new neural pathways.
                    Neuroplasticity is arguably the most important concept to focus on during stroke recovery. And it can be boiled down into this popular neuroscience phrase: “neurons that fire together, wire together.” The skills that you practice on a regular basis are the skills that your brain improves.</dd>
                
                <dt><h4>2. Focus on “Massed Practice” to Regain Lost Skills</h4></dt>
                <dd>Neuroplasticity is guided by experience. The more you practice something (and gain experience with it) the more your brain will attempt to get better at that skill.
                    This is why riding a bike helps you get better at riding a bike. As you continue to practice and gain experience, your brain is busy rewiring itself to create and strengthen neural pathways that control your balance, steering, pedaling, and other relevant skills.
                </dd>

                <dt><h4>3. Focus on Good Nutrition</h4></dt>
                <dd>As your brain and body recover from the secondary effects of a stroke, you can boost recovery by focusing on proper nutrition.
                    Some of the best foods for stroke recovery are whole foods like vegetables, nuts, and whole grains. It may also help to limit saturated fat and sugar intake, as these foods limit “neuronal and behavioral plasticity.”
                </dd>

                <dt><h4>4. Don’t Get Discouraged If Progress Slows</h4></dt>
                <dd>The stroke recovery plateau often occurs around the three month mark, generally speaking. At this point, recovery tends to slow down — but it will not stop as long as you don’t stop participating in rehabilitation.
                </dd>

                <dt></dt>
            </dl>
        </div>
        
    </div>
    
</body>
</html>